@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-alter-bg: #000000;
  --color-alter-purple: #9D00FF;
  --color-alter-lightpurple: #C77DFF;
  --color-alter-deeppurple: #3C096C;
  --color-alter-green: #00FF41;
  --color-alter-red: #FF003C;
  --color-alter-amber: #FFB000;
  --color-alter-gray: #1E1E1E;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --animate-marquee: marquee 35s linear infinite;
  --animate-pulse-fast: pulse-fast 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes pulse-fast {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .2;
    }
  }
}

:root {
  /* Force dark mode entirely */
  --background: #000000;
  --foreground: #00FF41;
  --border: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Brutalist specific utilities */
@utility brutal-border {
  border: 1px solid var(--border);
  background-color: #0A0A0A;
}

@utility bg-grid {
  background-image:
    linear-gradient(to right, rgba(0, 255, 65, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 255, 65, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}